.background {
    background-color: aquamarine;
}

.title {
    color: crimson;
}

.undertitle {
    color: darkorange;
    text-decoration: underline;
    border: thin solid red;
    width: 50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}

.lowtitle {
    color: gold;
    font-style: italic;
}