.h1{
    font-size: 40px;
    text-align: center;
}

header{
    height: 100px;
}

footer{
    height: 80px;
    padding-top: 30px;
    text-align: center ;
    background-color: darkgray ;
    border-top: 2px solid #AAA;
}

.container{
    border: 2px solid black;
    margin: 20px;
    display: flex;
    flex-direction: row;
    widht: 1000px;
    height: 1000px;
}

.container > section{
    padding: 20px;
    width: 1000px;
}
.item1{
    background-color: red;
    widht: 70%;
}

.item2{
    background-color: blue;
    widht: 30%;
}