  <li *ngFor="let users of users">
    {{ users | json }}
  </li>

  <form [formGroup]="userForm">

    <input type="text" formControlName="firstName" required>

    <p>
      Form Status: {{ userForm.status }}
    </p>

  <label>
    firstname:
    <input type="text" [formControl]="users">
  </label>

  <label>
    lastname:
    <input type="text" [formControl]="users">
  </label>
 <label>
    children:
    <input type="text" [formControl]="users">
  </label>
 <label>
    age:
    <input type="text" [formControl]="users">
  </label>

  <p>
    <button (click)="submit()">AFFICHER</button>
  </p>
