<div> *ngIf="isLoading">chargement en cours...</div>

<div>{{users | json}}</div>

 <form [formGroup]="userForm" (ngSubmit)="submitForm()">
   <ng-container *ngIf="!isLoading">
     <label>
       firstname
       <input type="text" required formControlName="firstname">
     </label>

     <label>
       lastname
       <input type="text" required formControlName="lastname">
     </label>
     <label>
       children
       <input type="boolean" required formControlName="children">
     </label>
     <label>
       age
       <input type="number" required formControlName="age">
     </label>
     <button type="submit">AFFICHER</button>
   </ng-container>
 </form>

